src/view/index.pug
extends include/main

block variables
  - let title = 'АЛРОСА | Бриллиантовые сказки России'
  - let page = 'fairy-tales'

block content
  section#fairy-tales
    .container
      .fairy-tales.content
        .fairy-tales-logo
          a(href='/' title='АЛРОСА')
            img(src='/image/logo.svg' alt='АЛРОСА')
        .fairy-tales__title
          h1 Бриллиантовые сказки России
        .fairy-tales__lead
          p Мы собрали самые популярные русские сказки и записали их для&nbsp;вас приятным голосом, чтобы вы включали их своим детям на&nbsp;ночь.
        .fairy-tales__play
          .button.button_main
            a(href='#' title='Слушать все сказки')
              img(src='/image/icon/play-main.svg' alt='icon')
              | Слушать все сказки (81 мин)
        ul.fairy-tales-list
          li.fairy-tales-list__item.fairy-tales-list__item-width.fairy-tales-list__item-1
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/1.m.png 1x, /image/illustration/1@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/1.png' srcset='/image/illustration/1@2x.png 2x' loading='eager' alt='Про Ерша Ершовича')
            .fairy-tales-list__title Про Ерша Ершовича
            .fairy-tales-list__group
              .fairy-tales-list__desc
                p Сказ об упрямстве и добром и вежливом слове, которое любого убедит стать умницей.
              .fairy-tales-list__time
                .fairy-tales-list__icon
                  img(src='/image/icon/sand-clock.svg' alt='icon')
                | 6 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_Ерша_Ершовича.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_Ерша_Ершовича.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про Ерша Ершовича')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-width.fairy-tales-list__item-2
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/2.m.png 1x, /image/illustration/2@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/2.png' srcset='/image/illustration/2@2x.png 2x' loading='lazy' alt='Что дальше слышно?')
            .fairy-tales-list__group
              .fairy-tales-list__title Что дальше слышно?
              .fairy-tales-list__desc
                p Сказ о тех добряках, кто свою семью любит и посторонних привечает.
              .fairy-tales-list__time
                .fairy-tales-list__icon
                  img(src='/image/icon/sand-clock.svg' alt='icon')
                | 3 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Что_дальше_слышно.mp3' type='audio/mpeg')
                source(src='/audio/wav/Что_дальше_слышно.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Что дальше слышно?')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-half.fairy-tales-list__item-3
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/3.m.png 1x, /image/illustration/3@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/3.png' srcset='/image/illustration/3@2x.png 2x' loading='lazy' alt='Про Попа и Микиту')
            .fairy-tales-list__title Про Попа и Микиту
            .fairy-tales-list__desc
              p Сказ о том, как жадный наниматель чуть было не улетел на небеса, но хитрый работник вернул его на землю.
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 6 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_Попа_и_Микиту.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_Попа_и_Микиту.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про Попа и Микиту')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-half.fairy-tales-list__item-4
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/4.m.png 1x, /image/illustration/4@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/4.png' srcset='/image/illustration/4@2x.png 2x' loading='lazy' alt='Про Петра I и Cолдата')
            .fairy-tales-list__title Про Петра I и Cолдата
            .fairy-tales-list__desc
              p Сказ про русского царя, который любил притворяться кем-то другим и солдата, который царя выручил.
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 10 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_Петра_и_Солдата.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_Петра_и_Солдата.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про Петра I и Cолдата')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-width.fairy-tales-list__item-5
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/5.m.png 1x, /image/illustration/5@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/5.png' srcset='/image/illustration/5@2x.png 2x' loading='lazy' alt='Про царицу-гусляра')
            .fairy-tales-list__group
              .fairy-tales-list__title Про царицу-гусляра
              .fairy-tales-list__desc
                p Сказ о смелой и веселой царице, которая ради мужа стала простым гусляром, но в конце династия была спасена.
              .fairy-tales-list__time
                .fairy-tales-list__icon
                  img(src='/image/icon/sand-clock.svg' alt='icon')
                | 7 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_царицу_гусляра.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_царицу_гусляра.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про царицу-гусляра')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-third.fairy-tales-list__item-6
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/6.m.png 1x, /image/illustration/6@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/6.png' srcset='/image/illustration/6@2x.png 2x' loading='lazy' alt='Про колечко и двенадцать ставешков')
            .fairy-tales-list__title Про колечко и двенадцать ставешков
            .fairy-tales-list__desc
              p Сказ об Иване, который поверил в волшебство, научился дружить с псом и котом и проучил жадного царя.
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 10 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_колечко_и_двенадцать_ставешков.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_колечко_и_двенадцать_ставешков.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про колечко и двенадцать ставешков')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-third.fairy-tales-list__item-7
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/7.m.png 1x, /image/illustration/7@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/7.png' srcset='/image/illustration/7@2x.png 2x' loading='lazy' alt='Про царевну и загадки')
            .fairy-tales-list__title Про царевну и загадки
            .fairy-tales-list__desc
              p Сказ про то, как царевна искала умного мужа, царевич искал умную жену и то, как они познакомились.
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 5 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_царевну_и_загадки.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_царевну_и_загадки.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про царевну и загадки')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-third.fairy-tales-list__item-8
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/8.m.png 1x, /image/illustration/8@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/8.png' srcset='/image/illustration/8@2x.png 2x' loading='lazy' alt='Про то, не знаю что')
            .fairy-tales-list__title Про то, не знаю что
            .fairy-tales-list__desc
              p Так по сей день и неясно, про что этот сказ. Может, ты догадаешься?
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 21 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_то_не_знаю_что.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_то_не_знаю_что.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про то, не знаю что')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-half.fairy-tales-list__item-9
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/9.m.png 1x, /image/illustration/9@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/9.png' srcset='/image/illustration/9@2x.png 2x' loading='lazy' alt='Про черта и долг')
            .fairy-tales-list__title Про черта и&nbsp;долг
            .fairy-tales-list__desc
              p Сказ о том, что богатство от глупости не спасет.
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 2 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_черта_и_долг.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_черта_и_долг.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про черта и долг')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
          li.fairy-tales-list__item.fairy-tales-list__item-half.fairy-tales-list__item-10
            .fairy-tales-list__image
              picture
                source(srcset='/image/illustration/10.m.png 1x, /image/illustration/10@2x.m.png 2x' media='(max-width: 767px)' type='image/png')
                img(src='/image/illustration/10.png' srcset='/image/illustration/10@2x.png 2x' loading='lazy' alt='Про девушкины песни')
            .fairy-tales-list__title Про девушкины песни
            .fairy-tales-list__desc
              p Сказ о настоящей красоте, которая и в земле зарыта, и в народной сказке навечно сохранилась.
            .fairy-tales-list__time
              .fairy-tales-list__icon
                img(src='/image/icon/sand-clock.svg' alt='icon')
              | 11 мин
            .fairy-tales-list__track
              audio(preload='metadata')
                source(src='/audio/mp3/Про_девушкины_песни.mp3' type='audio/mpeg')
                source(src='/audio/wav/Про_девушкины_песни.wav' type='audio/wav')
              .button.button_play
                a(href='#' title='Про девушкины песни')
                  img(src='/image/icon/play.svg' alt='icon')
            .fairy-tales-list__duration
              span
        .fairy-tales__image
          img(src='/image/bg/fairy-tales-end.svg' alt='icon')

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>АЛРОСА | Бриллиантовые сказки России</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Korotkov ilushkeens@gmail.com">
    <meta name="theme-color" content="#000000">
    <!-- Open Graph / Facebook-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://test.ilushkeens.ru/">
    <meta property="og:title" content="АЛРОСА | Бриллиантовые сказки России">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://test.ilushkeens.ru/image/cover.png">
    <!-- Twitter-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://test.ilushkeens.ru/">
    <meta property="twitter:title" content="АЛРОСА | Бриллиантовые сказки России">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="https://test.ilushkeens.ru/image/cover.png">
    <!-- icon & css-->
    <link href="/favicon.svg" rel="icon">
    <link href="/mask-icon.svg" rel="mask-icon" color="#fab507">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=9c3873f" rel="stylesheet"></head>
  <body>
    <div id="app">
      <main>
        <section id="fairy-tales">
          <div class="container">
            <div class="fairy-tales content">
              <div class="fairy-tales-logo"><a href="/" title="АЛРОСА"><img src="/image/logo.svg" alt="АЛРОСА"></a></div>
              <div class="fairy-tales__title">
                <h1>Бриллиантовые сказки России</h1>
              </div>
              <div class="fairy-tales__lead">
                <p>Мы собрали самые популярные русские сказки и записали их для&nbsp;вас приятным голосом, чтобы вы включали их своим детям на&nbsp;ночь.</p>
              </div>
              <div class="fairy-tales__play">
                <div class="button button_main"><a href="#" title="Слушать все сказки"><img src="/image/icon/play-main.svg" alt="icon">Слушать все сказки (81 мин)</a></div>
              </div>
              <ul class="fairy-tales-list">
                <li class="fairy-tales-list__item fairy-tales-list__item-width fairy-tales-list__item-1">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/1.m.png 1x, /image/illustration/1@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/1.png" srcset="/image/illustration/1@2x.png 2x" loading="eager" alt="Про Ерша Ершовича">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про Ерша Ершовича</div>
                  <div class="fairy-tales-list__group">
                    <div class="fairy-tales-list__desc">
                      <p>Сказ об упрямстве и добром и вежливом слове, которое любого убедит стать умницей.</p>
                    </div>
                    <div class="fairy-tales-list__time">
                      <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>6 мин
                    </div>
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_Ерша_Ершовича.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_Ерша_Ершовича.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про Ерша Ершовича"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-width fairy-tales-list__item-2">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/2.m.png 1x, /image/illustration/2@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/2.png" srcset="/image/illustration/2@2x.png 2x" loading="lazy" alt="Что дальше слышно?">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__group">
                    <div class="fairy-tales-list__title">Что дальше слышно?</div>
                    <div class="fairy-tales-list__desc">
                      <p>Сказ о тех добряках, кто свою семью любит и посторонних привечает.</p>
                    </div>
                    <div class="fairy-tales-list__time">
                      <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>3 мин
                    </div>
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Что_дальше_слышно.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Что_дальше_слышно.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Что дальше слышно?"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-half fairy-tales-list__item-3">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/3.m.png 1x, /image/illustration/3@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/3.png" srcset="/image/illustration/3@2x.png 2x" loading="lazy" alt="Про Попа и Микиту">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про Попа и Микиту</div>
                  <div class="fairy-tales-list__desc">
                    <p>Сказ о том, как жадный наниматель чуть было не улетел на небеса, но хитрый работник вернул его на землю.</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>6 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_Попа_и_Микиту.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_Попа_и_Микиту.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про Попа и Микиту"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-half fairy-tales-list__item-4">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/4.m.png 1x, /image/illustration/4@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/4.png" srcset="/image/illustration/4@2x.png 2x" loading="lazy" alt="Про Петра I и Cолдата">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про Петра I и Cолдата</div>
                  <div class="fairy-tales-list__desc">
                    <p>Сказ про русского царя, который любил притворяться кем-то другим и солдата, который царя выручил.</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>10 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_Петра_и_Солдата.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_Петра_и_Солдата.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про Петра I и Cолдата"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-width fairy-tales-list__item-5">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/5.m.png 1x, /image/illustration/5@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/5.png" srcset="/image/illustration/5@2x.png 2x" loading="lazy" alt="Про царицу-гусляра">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__group">
                    <div class="fairy-tales-list__title">Про царицу-гусляра</div>
                    <div class="fairy-tales-list__desc">
                      <p>Сказ о смелой и веселой царице, которая ради мужа стала простым гусляром, но в конце династия была спасена.</p>
                    </div>
                    <div class="fairy-tales-list__time">
                      <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>7 мин
                    </div>
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_царицу_гусляра.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_царицу_гусляра.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про царицу-гусляра"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-third fairy-tales-list__item-6">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/6.m.png 1x, /image/illustration/6@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/6.png" srcset="/image/illustration/6@2x.png 2x" loading="lazy" alt="Про колечко и двенадцать ставешков">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про колечко и двенадцать ставешков</div>
                  <div class="fairy-tales-list__desc">
                    <p>Сказ об Иване, который поверил в волшебство, научился дружить с псом и котом и проучил жадного царя.</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>10 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_колечко_и_двенадцать_ставешков.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_колечко_и_двенадцать_ставешков.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про колечко и двенадцать ставешков"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-third fairy-tales-list__item-7">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/7.m.png 1x, /image/illustration/7@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/7.png" srcset="/image/illustration/7@2x.png 2x" loading="lazy" alt="Про царевну и загадки">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про царевну и загадки</div>
                  <div class="fairy-tales-list__desc">
                    <p>Сказ про то, как царевна искала умного мужа, царевич искал умную жену и то, как они познакомились.</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>5 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_царевну_и_загадки.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_царевну_и_загадки.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про царевну и загадки"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-third fairy-tales-list__item-8">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/8.m.png 1x, /image/illustration/8@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/8.png" srcset="/image/illustration/8@2x.png 2x" loading="lazy" alt="Про то, не знаю что">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про то, не знаю что</div>
                  <div class="fairy-tales-list__desc">
                    <p>Так по сей день и неясно, про что этот сказ. Может, ты догадаешься?</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>21 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_то_не_знаю_что.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_то_не_знаю_что.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про то, не знаю что"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-half fairy-tales-list__item-9">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/9.m.png 1x, /image/illustration/9@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/9.png" srcset="/image/illustration/9@2x.png 2x" loading="lazy" alt="Про черта и долг">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про черта и&nbsp;долг</div>
                  <div class="fairy-tales-list__desc">
                    <p>Сказ о том, что богатство от глупости не спасет.</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>2 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_черта_и_долг.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_черта_и_долг.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про черта и долг"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
                <li class="fairy-tales-list__item fairy-tales-list__item-half fairy-tales-list__item-10">
                  <div class="fairy-tales-list__image">
                    <picture>
                      <source srcset="/image/illustration/10.m.png 1x, /image/illustration/10@2x.m.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/illustration/10.png" srcset="/image/illustration/10@2x.png 2x" loading="lazy" alt="Про девушкины песни">
                    </picture>
                  </div>
                  <div class="fairy-tales-list__title">Про девушкины песни</div>
                  <div class="fairy-tales-list__desc">
                    <p>Сказ о настоящей красоте, которая и в земле зарыта, и в народной сказке навечно сохранилась.</p>
                  </div>
                  <div class="fairy-tales-list__time">
                    <div class="fairy-tales-list__icon"><img src="/image/icon/sand-clock.svg" alt="icon"></div>11 мин
                  </div>
                  <div class="fairy-tales-list__track">
                    <audio preload="metadata">
                      <source src="/audio/mp3/Про_девушкины_песни.mp3" type="audio/mpeg">
                      <source src="/audio/wav/Про_девушкины_песни.wav" type="audio/wav">
                    </audio>
                    <div class="button button_play"><a href="#" title="Про девушкины песни"><img src="/image/icon/play.svg" alt="icon"></a></div>
                  </div>
                  <div class="fairy-tales-list__duration"><span></span></div>
                </li>
              </ul>
              <div class="fairy-tales__image"><img src="/image/bg/fairy-tales-end.svg" alt="icon"></div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-logo"><img src="/image/logo-footer.svg" alt="АЛРОСА"></div>
      <div class="footer-copyright">
        <p>&copy; 1992 — 2021. Alrosa</p>
      </div>
      <div class="footer-info">
        <p>All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=7a6598a"></script></body>
</html>
